<mat-dialog-content class="ocorrencia-form-content">
  <form [formGroup]="form" class="form-fields">
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" />
      <mat-error *ngIf="form.get('titulo')?.hasError('required')">O título é obrigatório</mat-error>
      <mat-error *ngIf="form.get('titulo')?.hasError('maxlength')">O título deve ter no máximo 120
        caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput rows="4" formControlName="descricao"></textarea>
      <mat-error *ngIf="form.get('descricao')?.hasError('required')">A descrição é obrigatória</mat-error>
      <mat-error *ngIf="form.get('descricao')?.hasError('maxlength')">A descrição deve ter no máximo 500
        caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of statusList" [value]="s.code">{{ s.label }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('status')?.hasError('required')">O status é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prioridade</mat-label>
      <mat-select formControlName="prioridade">
        <mat-option *ngFor="let s of prioridadesList" [value]="s.code">{{ s.label }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('prioridade')?.hasError('required')">A prioridade é obrigatória</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail do Responsável</mat-label>
      <input matInput formControlName="emailResponsavel" />
      <mat-error *ngIf="form.get('emailResponsavel')?.hasError('required')">O e-mail do responsável é
        obrigatório</mat-error>
      <mat-error *ngIf="form.get('emailResponsavel')?.hasError('email')">E-mail inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipList [disabled]="isView">
        <mat-chip-row
          *ngFor="let tag of form.get('tags')?.value; let i = index"
          (removed)="removeTag(i)">
          {{ tag }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>

        <input
          placeholder="Adicionar tag"
          [matChipInputFor]="chipList"
          (matChipInputTokenEnd)="addTag($event)" />
      </mat-chip-grid>
    </mat-form-field>
  </form>
</mat-dialog-content>