<div class="login-container">
  <div class="login-left">
    <img src="/logo-white.png" alt="Incidents Control">
    <h2>INCIDENT CONTROL</h2>
  </div>

  <div class="login-right">
    <mat-card class="login-card mat-elevation-z8">
      <h3 class="title">Fazer Login</h3>

      <form [formGroup]="loginForm" (ngSubmit)="logar()">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Digite seu e-mail" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email?.invalid && email?.touched">
            E-mail inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="senha?.invalid && senha?.touched">
            Senha inválida
          </mat-error>
        </mat-form-field>

        <div class="options">
          <mat-checkbox>Lembre-me</mat-checkbox>
          <a class="forgot" href="#">Esqueceu sua senha?</a>
        </div>

        <button type="submit" [disabled]="!loginForm.valid" class="full-width" mat-raised-button>
          ENTRAR
        </button>

        <p class="signup-text">
          Ainda não tem conta? <a href="#" class="signup-link">Cadastre-se</a>.
        </p>
      </form>

    </mat-card>

    <p class="footer">© 2025 Incident Control Systems. Todos os direitos reservados.</p>
  </div>
</div>