<mat-dialog-content class="status-form-content">
  <form [formGroup]="form" class="form-fields">

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of statusList" [value]="s.code">{{ s.label }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('status')?.hasError('required')">
        O status é obrigatório
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>